.btn {
    margin-left: 5px;
}


.form-group, .form-control {
    margin: 0px;
}

.form-group{
    margin-bottom: 2px;
}

.btn {
    margin-top: 15px;
}

input {
    height: 40px;
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}