<a  routerLinkActive="active"
    class="list-group-item clearfix"
    [routerLink]="['/cars', car?.id]">
    <div class="pull-left">
        <ul class="list-inline">
            <li><h4 class="list-goup-item-heading text-right">Type: </h4></li>
            <li><h5 class="list-goup-item-text">{{car.carType}}</h5></li>
        </ul>
        <ul class="list-inline">
            <li><h4 class="list-goup-item-heading text-right">Color: </h4></li>
            <li><h5 class="list-goup-item-text">{{car.color}}</h5></li>
        </ul>
        <ul class="list-inline">
            <li><h4 class="list-goup-item-heading text-right">Fuel: </h4></li>
            <li><h5 class="list-goup-item-text">{{car.fuelType}}</h5></li>
        </ul>
    </div>
    <span class="pull-right">
        <img src="assets/car.png"
                class="img-responsive"
                style="max-height: 100px;">
    </span>
</a>