<ul class="nav nav-tabs">
    <!--Mohu přidat ješte i [routerLinkActiveOptions]="{exact: true}" abych podchytil například jenom path "/" HOME-->
    <li role="presentation"
        routerLinkActive="active">
        <a routerLink="">HOME</a>
    </li>
    <li role="presentation"
        routerLinkActive="active">
        <a routerLink="users">Users</a>
    </li>
    <li role="presentation"
        routerLinkActive="active">
        <a routerLink="cars">Cars</a>
    </li>
    <li role="presentation"
    routerLinkActive="active">
    <a routerLink="details">Details</a>
</li>
</ul>