<div class="row">
    <div class="col-xs-12">
        <p class="text-center">Write for search</p>
        <input type="text" class="form-control" [ngModel]="inputData" (ngModelChange)="onInputChanges($event)">
        <br>
        <div class="list-group" style="margin-bottom: 0px;">
            <div *ngIf="vysledekHledani">
                <button type="button"
                        class="list-group-item"
                        *ngFor="let option of vysledekHledani"
                        (click)="onClickOption(option)">{{option}}
                </button>
            </div>
        </div>
    </div>
</div>